<link rel="stylesheet" href="/css/footer.css">
<footer>
    <div class="about">
      <h1><span class="logo-text">Bittu</span> <span>Blog</span></h1>
      <p>
        This is a awesome and cool Blog website and we can read and write a Blog
      </p>
      <!-- Contacts -->
      <div class="contact">
        <span>
          <i class="fas fa-phone"></i>
          + (91) 9135610015
        </span>
        <span>
          <i class="fas fa-envelope"></i>
          <a href="mailto:support@inovotek.com">
            bittukumar8713@gmail.com
          </a>
        </span>
      </div>
      <!-- socials -->
      <div class="socials">
        <a href="https://www.youtube.com/c/inovotek-academy">
          <i class="fab fa-youtube"></i>
        </a>
        <a href="https://www.youtube.com/c/inovotek-academy">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="https://www.youtube.com/c/inovotek-academy">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="https://www.youtube.com/c/inovotek-academy">
          <i class="fab fa-facebook"></i>
        </a>
  </footer>